<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodcen.framework.mapper.CENOracleCommonMapper">
	<resultMap type="linkedHashMap" id="oraOut"></resultMap>
	<resultMap type="linkedHashMap" id="oraOut0"></resultMap>
	<resultMap type="linkedHashMap" id="oraOut1"></resultMap>
	<resultMap type="linkedHashMap" id="oraOut2"></resultMap>
	<resultMap type="linkedHashMap" id="oraOut3"></resultMap>
	<resultMap type="linkedHashMap" id="oraOut4"></resultMap>
	<resultMap type="linkedHashMap" id="oraOut5"></resultMap>
	<resultMap type="linkedHashMap" id="oraOut6"></resultMap>
	<resultMap type="linkedHashMap" id="oraOut7"></resultMap>
    
    <insert id="OraProcCallableTrace" statementType="PREPARED" parameterType="map">
    	INSERT /*+ APPEND */ INTO DZZT_SPEXEC_TRACE
    	(ID_USER,CD_DEPT,ID_FORM,IP_USER,TY_GUBUN,SP_NAME,MS_QUERY,DT_INSERT,AP_COUNT)
    	VALUES
    	(#{TRACE_ID_USER},#{TRACE_CD_DEPT},#{TRACE_ID_FORM},#{TRACE_IP_USER},#{TRACE_TY_GUBUN},#{TRACE_SP_NAME},#{TRACE_MS_QUERY},SYSDATE,#{TRACE_AP_COUNT})
    </insert>
</mapper>